<form method="post" action="/books">
  <label for="title-field">Title:</label>
  <input
  type="text"
  name="title"
  id="title-field"
  />
<p>
  <label for="author-field">Author:</label>
  <input
  type="text"
  name="author"
  id="author-field"
  />
<p>
  <label for="description-field">Description:</label>
  <input
  type="text"
  name="description"
  id="description-field"
  />
<p>
  <label for="stock_quantity-field">Amount Ordered:</label>
  <input
  type="INT2"
  name="stock_quantity"
  id="stock_quantity-field"
  />
<p>
  <label for="buying_cost-field">Cost to Buy From Publisher per unit:</label>
  <input
  type="FLOAT"
  name="buying_cost"
  id="buying_cost-field"
  />
<p>
  <label for="selling_price-field">Selling Price per unit:</label>
  <input
  type="FLOAT"
  name="selling_price"
  id="selling_price-field"
  />
<p>
  <label for="publisher_id-field">Published by:</label>
  <input
  type="INT8"
  name="publisher_id"
  id = "publisher_id-field".to_i
  />



<input class="btn btn--action" type='submit' value="Add Book">

</form>
