<!DOCTYPE html>
<html>
<head>


<link rel="stylesheet" type="text/css" href="/styles/tables.css">
<link rel="stylesheet" type="text/css" href="/styles/structure.css">
<link rel="stylesheet" type="text/css" href="/styles/buttons.css">




<title> Hex Books </title>
<body>

<nav>
  <ul>
    <li>
      <a href="/books">Books</a>
    </li>
    <li>
      <a href="/publishers">Publishers</a>
    </li>
  </ul>
</nav> 


<%= yield %>
  </body>
</head>
</html>
