<!DOCTYPE html>
<html>
<head

<link rel="stylesheet" type="text/css" href="/styles/tables.css">
<link rel="stylesheet" type="text/css" href="/styles/structure.css">
<link rel="stylesheet" type="text/css" href="/styles/buttons.css">


<title> Hex Books </title>

<body>


  <ul class="front-page-books-button">
    <li>
      <a href="/books">Books</a>
    </li>
    </ul>

    
      <ul class="front-page-publishers-button">
        <li>
      <a href="/publishers">Publishers</a>
    </li>
  </ul>

<%= yield %>

  </body>
</head>
</html>
