.btn {
  border:0px none;
  border-radius: 3%;
  padding: 8px 12px;
  color: black;
  cursor:pointer;
  font-family: 'Arial', sans-serif;
}

.btn--success {
  background-color: lemonchiffon;
}

.btn--success:hover {
  background-color: lemonchiffon;
}

.btn--action:hover {
  background-color: darkcyan;
}

.btn--action {
  background-color: lemonchiffon;
}

.btn--wrapper {
  margin: 0px 0px 30px 0px;
}
