body {
  background:url('/images/background_image.jpg');
  background-size: 100%;
  opacity: 75%;
  background-repeat: no-repeat;
  color: darkcyan;
  font-family: 'Arial', serif;
  padding: 0px;
  margin: 0px;
}



h1, h2, h3, h4, h5, h6 {
  font-family: 'Arial', serif;
  margin: 0px;
  padding: 0px;
}


.bookInfo {
  position: relative;
  align-content: center;
  border-radius: 20%;
  border: solid black;
  width: 50%;
  text-align: center;
  left: 25%;
  margin-top: 10%;
  background-color: lemonchiffon;
}

.publisherInfo {
  position: relative;
  align-content: center;
  border-radius: 20%;
  border: solid black;
  width: 50%;
  text-align: center;
  left: 25%;
  margin-top: 10%;
  background-color: lemonchiffon;
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: lemonchiffon;
}

li a {
  display: block;
  color: black;
  padding: 8px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: darkcyan;
  color: lemonchiffon;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
  color: darkcyan;
}

.active {
  background-color: darkcyan;
  color: white;
}


.background_image {
  position: fixed;
  display: inline;
  background-size: stretch;
  height: 100%;
  width: 100%;
  opacity: 0.4;
  top: 0;
  left: 0;
  z-index: -1;
}


ul {
  border: 1px solid #555;
}

li {
  text-align: center;
  border-bottom: 1px solid #555;
}
