body {
  /* background:url('/images/background_image.jpg');   */
  background-size: 100%;
  background-repeat: no-repeat;
  color: darkcyan;
  font-family: 'Arial', serif;
  padding: 0px;
  margin: 0px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Arial', serif;
  margin: 0px;
  padding: 0px;
}

h1 {
  font-size: 1.8em;
  background-color: white;
  margin-bottom: 20px;
  padding: 0px;
}

.bookInfo {
  position: relative;
  align-content: center;
  border-radius: 20%;
  border: solid black;
  width: 50%;
  text-align: center;
  left: 25%;
  margin-top: 10%;
}

nav ul{
  height: 100%;
  width: 5%;
  position: relative;
  top: 0;
  left: 2;
  border: solid black;
  text-align: center;
}
