td, th {
  text-align: center;
}

td {
  padding: 20px 20px 10px 10px;
}

th {
  padding: 0px 20px 10px 0px;
  border-bottom: 1px solid darkcyan;
  background-color: darkcyan;
  color: white;
}


table {
  border-collapse: collapse;
}
