<form method="post" action="/publishers">
  <label for="name-field">Publisher Name:</label>
  <input
  type="text"
  name="name"
  id="name-field"
  />

  <label for="contact_details-field">Contact Details:</label>
  <input
  type="text"
  name="contact_details"
  id="contact_details-field"
  />



  <input type="submit" value="Add Publisher">
</form>
