<p>Name: <%= @publisher.name %></p>
<p>Contact Details: <%= @publisher.contact_details %></p>

<h3>Books:</h3>






<p><a href="/publishers/<%= @publisher.id %>/edit">Edit Publisher Details </a></p>


<form method="post" action="/publishers/<%= @publisher.id %>/delete">
  <input type="submit" value="Delete Publisher"/>
</form>
